<section class="slider">
  <div class="slider__control-holder">
    <h1 class="slider__title">Актуальное</h1>
    <div class="slider__control">
      <div class="slider__scrollbar"></div>
      <button disabled class="slider__navigation slider__navigation--prev" type="button"></button>
      <button class="slider__navigation slider__navigation--next" type="button"></button>
    </div>
  </div>
  <div class="slider__content">
    <!-- @tx-process:include slider/_slide.html --><!-- /@tx-process -->
    <!-- @tx-process:include slider/_slide.html --><!-- /@tx-process -->
    <!-- @tx-process:include slider/_slide.html --><!-- /@tx-process -->
    <!-- @tx-process:include slider/_slide.html --><!-- /@tx-process -->
    <!-- @tx-process:include slider/_slide.html --><!-- /@tx-process -->
    <!-- @tx-process:include slider/_slide.html --><!-- /@tx-process -->
    <!-- @tx-process:include slider/_slide.html --><!-- /@tx-process -->
    <!-- @tx-process:include slider/_slide.html --><!-- /@tx-process -->
    <!-- @tx-process:include slider/_slide.html --><!-- /@tx-process -->
    <!-- @tx-process:include slider/_slide.html --><!-- /@tx-process -->
  </div>
</section>
