/* Layout */

// sass-lint:disable no-vendor-prefixes

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

// sass-lint:enable no-vendor-prefixes
// sass-lint:disable zero-unit

body {
  #{--scrollbar-width}: calc(100vw - 100%);
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  align-content: flex-start;
  align-items: center;
  margin: 0;
  overflow-x: hidden;
  background: $background;
}

.page {
  &-is-stuck {
    position: fixed;
    width: 100%;
    overflow: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

/* Phone Layout */

@import '_layout-phone';

/* Print Layout */

@import '_layout-print';
